{% extends 'base.html.twig' %}

{% block body %}
<main class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Feast of the Flesh</h1>
        </div>
    </div>
</main>
{% endblock %}
