<div class="card bg-darkest text-light" style="margin-bottom: 24px;">
    <div class="card-header">
        By <strong>{{ comment.commenter }}</strong>
        {{ comment.timeRelativeToMovie(movie) }}
    </div>
    <div class="card-body">
        <p>
            {{ comment.text|nl2br }}
        </p>
    </div>
</div>