<div>
    <h1 class="d-inline m-0">{{ omdb(movie).Title }}</h1>
    <span>
        <a href="https://imdb.com/title/{{ movie.imdb }}" target="_blank" rel="noopener">
            (IMDb <span class="fa fa-external-link-alt"></span>)
        </a>
    </span>
</div>