/* RESET THE RESET */

a {
    color: var(--orange);
    transition: color 250ms ease;
}

a:hover, a:focus {
    color: var(--red);
}

/* COLOR UTILITIES */
.bg-darkest {
    background-color: #222222 !important;
}

.text-orange {
    color: var(--orange) !important;
}

/* FORM */
.form-control {
    border-radius: 0;
}

/* OVERRIDING COMPONENTS */
.card {
    border-radius: 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bg-darkest.list-group-item {
    border-color: var(--light);
}

a.bg-darkest.list-group-item:hover {
    background-color: #111111 !important;
}

.bg-darkest.card {
    background-color: #222222 !important;
    border-color: var(--light);
}

.bg-darkest.card .card-header {
    background-color: #111111 !important;
    border-color: var(--light);
}

.btn {
    border-radius: 0;
}

.btn-orange {
    background-color: var(--orange);
    border-color: var(--light);
    color: #fff;
    transition: background-color 250ms ease, border-color 250ms ease;
}

.btn-orange:hover {
    background-color: var(--red);
    border-color: var(--light);
    color: #fff;
}

/* Antispam bundle */
.hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

/* Bits */
.bit-button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.bit {
    background-color: #222222;
    bottom: calc(100% + 20px);
    color: var(--orange);
    padding: 1rem;
    position: absolute;
    left: 0;
    transform-origin: 0 100%;
    width: 80vw;
}

.bit::after {
    border-top: 20px solid #222222;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    content: "";
    left: 12px;
    position: absolute;
    top: 100%;
}

.bit-close-button {
    background-color: transparent;
    border: 0;
    color: var(--orange);
    position: absolute;
    right: 0;
    top: 0;
}

@media (min-width: 576px) {
    .bit {
        bottom: 0;
        left: auto;
        right: calc(100% + 20px);
        transform-origin: 100% 100%;
        width: 50vw;
    }

    .bit::after {
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-right: 0;
        border-left: 20px solid #222222;
        bottom: 12px;
        left: 100%;
        top: auto;
    }
}

.bit[aria-expanded="false"] {
    display: none;
}

.bit[aria-expanded="true"] {
    display: block;
}